
WAITWHILE_API_KEY=vPnA3puVsu8Gahsq9KmGwiut
WAITWHILE_API_URL=https://api.waitwhile.com/v2



# Application Configuration
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Optional: Feature flags
NEXT_PUBLIC_ENABLE_ANALYTICS=false
NEXT_PUBLIC_ENABLE_ERROR_REPORTING=true
NEXT_PUBLIC_DEBUG_MODE=false

# Optional: Performance settings
NEXT_PUBLIC_IMAGE_QUALITY=85
NEXT_PUBLIC_CACHE_TIMEOUT=300000 



# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://yvosyqreurxamiluiddz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2b3N5cXJldXJ4YW1pbHVpZGR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM5Nzc0MDUsImV4cCI6MjA2OTU1MzQwNX0.m6f0gAVFXS0oRQ9oEHMgkf_XqkA1S4l8U6MCpbOWNu8

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2b3N5cXJldXJ4YW1pbHVpZGR6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzk3NzQwNSwiZXhwIjoyMDY5NTUzNDA1fQ.2EZBVfb4BRQVkdCPAPY2soPc_nU8rAH6xtW0z-p6tIo